.itemDetail-conteinerImg{
    width: 350px;
    height: 450px;
    box-sizing: border-box;
}

.itemDetail-img{
    object-fit: scale-down;
    max-width: 90%;
    height: auto; 
}

.itemDetail-input{
    width: 50px;
    height: 40px;
    border: none;
    margin-right: 15px;
    margin-left: 15px;

}

.itemDetail-btn{
    width: 45px;
    height: 45px;
    border: none;
}